*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --button-color: #596D48;
    --input-color: #e5e7eb; 
    --myDefaultFontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
}

.imageMain_container { 
    position: relative;
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    height: 100vh;
    width: 37vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.logo_container {
    background-color: rgb(0,0,0,0.3);
    margin-top: 20vh; 
    text-align: center;
    padding: 20px 0px;
    line-height: 0px;
}

.logo_image {
    height: 100px;
}

.logo_text {
    color: white;
    font-size: 100px;
    font-family: var(--myDefaultFontFamily);
    vertical-align: 15px;
}

.authorImage_info {
    color: white;
    margin: 550px auto 0 auto;
}

.authorImage_info a {
    color: white;
}

.form_container {
    width: 63vw;

}

.title_form {
    height: 35vh;
    padding-left: 30px;
    overflow: hidden;
    padding-top: 120px;
    font-family: var(--myDefaultFontFamily);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #f5f5f5;
}

.title_form p:last-child {
    padding-top: 30px; 
}

.inputs {
    height: 30vh;
    padding-left: 30px;
    overflow: hidden;
    font-family: var(--myDefaultFontFamily);
    display: flex;
    flex-direction: column;
}

.inputs p:first-child {
    padding: 20px 0px;
    font-size: 1.5rem;
    font-weight: 400;
}

.submit_logIn {
    height: 35vh;
    padding-left: 30px;
    overflow: hidden;
    background-color: #f5f5f5; 
}

.userInfo,
.userContact,
.userPassword {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 50px
}

.userInfo div,
.userContact div,
.userPassword div {
    display: flex;
    flex-direction: column;
}

.inputs label {
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.inputs input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    background-color: #f8f8f8; 
}

.inputs input:focus {
    border: 1px solid blue;
    background-color: white;  
    box-shadow: 1px 1px 5px; 
    outline: 0;
} 

.inputs input:invalid:focus {
    border: 1px solid blue;
}

.inputs input:invalid {
    border: 1px solid red;
}



.submit_logIn button {
    margin-top: 30px;  
    margin-bottom: 30px;
    width: 250px;
    padding: 15px;
    border-radius: 5px; 
    font-size: 1.3rem;
    color: white;
    background-color: var(--button-color);
} 

.submit_logIn p {
    font-size: 1.3rem;
}

.submit_logIn a {
    color: var(--button-color);  
    text-decoration-line: none;
}

@media screen and (width < 1129px) {
    .inputs input {
        width: 250px;
    }
}
