*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --button-color: #596D48;
    --input-color: #e5e7eb; 
}

body {
    display: flex;
}

.imageMain_container { 
    position: relative;
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    height: 100vh;
    width: 37vw;
    background-repeat: no-repeat;
}

.logo_container {
    background-color: rgb(0,0,0,0.3);
}

.logo_image {
    height: 100px;
}

.logo_text {
    color: white;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.authorImage_info {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.authorImage_info a {
    color: white;
}

.form_container {
    width: 63vw;
}